<!--The content below is only a placeholder and can be replaced.-->
<!--<app-nav></app-nav>-->
<!--




<app-program-details></app-program-details>
<app-notification-template></app-notification-template>
<app-program-details></app-program-details>
<app-notification-template></app-notification-template>
<app-icl></app-icl>
<app-settings></app-settings>
<app-participants></app-participants>
<app-tab-control></app-tab-control>

<app-program-setting></app-program-setting>
<app-program-details></app-program-details>

<app-notification-template></app-notification-template>
<app-program-details></app-program-details>
<app-program-details></app-program-details>
<app-program-setting></app-program-setting>-->
<app-program-details></app-program-details>

<router-outlet></router-outlet>
